# Datascience and the Nature of Data Redesign

## ANTICIPATED LESSON TIME:

2 hours

## WHAT YOU WILL LEARN:

- What is a variable?
- What are the different types of variables (nominal, ordinal, interval, and ratio)?
- How do I use a library to help with data science?
- How can you ensure data integrity and remove duplicate values?

## DEFINITIONS YOU’LL NEED TO KNOW:


- Variable: measurements of things in the real world.
- Nominal: a variable with unordered categories.
- Ordinal: a variable with ordered categories.
- Interval: a variable that is ordered with evenly spaced
 measurements.
- Ratio: an interval variable with a true zero point.
- Datasets: a well-organized set of related information, ready for - study and use, in file form.
- Dataframe: a dataset in variable form; like a table made up of rows.
- Null value: missing data; null values indicate that there is no value present

## SCENARIO:

So, how can we help Angela and her after-school club? First, let’s consider measurement and how we can record what she needs. We’ll call this **"data"** to think about all that information.

When you hear people talk about "data", you may think that all data is the same. However, there are many different kinds of data. To think through Angelina’s problem, it’s important to understand how to measure things through **variables**. Different types of variables affect your analysis. If you don't understand these types, you will probably use the wrong analysis!

Yikes!


## WHAT DO I NEED TO KNOW?:

So, how can we help Angela and her after-school club? First, let’s consider measurement and how we can record what she needs. We’ll call this **"data"** to think about all that information.

When you hear people talk about "data", you may think that all data is the same. However, there are many different kinds of data. To think through Angelina’s problem, it’s important to understand how to measure things through **variables**. Different types of variables affect your analysis. If you don't understand these types, you will probably use the wrong analysis!

Yikes!

So what are the different kinds of data?

**Nominal:**

A nominal variable is kind of like the ‘name’ of categories.  Nominal variables aren’t ordered like numbers are.

An example of this is male or female for biological sex.  We do not say that males come before females or are smaller than females.  They are just different names for the categories.


**Ordinal:**

One way to think of ordinal variables is the ‘order’ of something you are measuring.  You can think of it as nominal data but with an ordering from first to last or smallest to largest.  Because of that, the order matters.

But here’s the thing, the order might be spaced differently. If it was a race, the distance between a first and second-place finish in a race might be close. But the distance between the second and third-place finish might be really spaced out.

As it relates to Angela’s problem, she might look at ordinal variables to see how people rank feelings about air pollution (1.  Strongly disagree…2 Disagree…3…Neither agree/nor disagree…4.  Agree…5 Strongly Disagree).


**Interval:**

Intervals can be a bit wonky. These variables follow an order (like ordinal), but the distance between 1, 2, and so on are all the same. To add another fun twist, 0 does not necessarily mean ‘nothing’.

A great example is the temperature in Fahrenheit. 0F doesn’t mean there’s no temperature or no cold or no heat, it’s just a point on the scale that helps us think about how to measure it.


**Ratio:**

Ratio variables are like interval variables, but the 0 means ‘nothing’. Age and height are good examples because 0 age means you have no age. Also, 0 height means you have no height.

## YOUR TURN:

Now that you understand the building blocks of data science and ideas behind data redesign, it’s time to practice applying these concepts! As you go through this, pay close attention to the different types of variables and how they affect data analysis.

### Goal 1: Importing the Pandas Library

Need extra tools to help solve this problem? Well, we can bring in extra ‘libraries’ to help us do extra data science stuff. You can think of it like an ‘add-on’. In this case, we bring in pandas, which is a popular library for doing data science stuff.

#### Blockly

**Step 1 - Starting the IMPORT:**

First, we need to set up a “command” to tell the computer what to do. In this case, “command” is to “import” to bring the add-on package in.

Bring in the IMPORT menu, which can be helpful to bring in other data tools. In this case, we're bringing in the **import** block.

**Step 2 - Telling what Library to Import:**

In the text area, we type the name of the library we want to import. A library is like an extra thing we bring in to give us more coding abilities. In our case, we will type out **pandas**, which will bring in some cool data manipulation features.


**Step 3 - Renaming the Library So It’s Easy to Remember:**

Once you are done, put the **import** and **package** together in a single variable. This handy feature helps cut down on all the typing later on. You can call it whatever is easiest for you to remember. In the example below, we’ve put everything into **pd**, and we type it in the open area.

**Step 4 - Connect the blocks to run the code**

Connect the blocks and run the code!

<details>
    <summary>Click to see the answer...</summary>

![](https://pbs.twimg.com/media/GcxNkjYXkAAlpKD?format=png&name=240x240)

</details>

In [3]:
#blocks code

#### Freehand


**Step 1 - Starting the IMPORT:**

First, we need to set up a “command” to tell the computer what to do. In this case, “command” is to “import” to bring the add-on package in.

**Step 2 - Telling what Library to Import:**

In the text area, we type the name of the library we want to import. A library is like an extra thing we bring in to give us more coding abilities. In our case, we will type out pandas, which will bring in some cool data manipulation features.

**Step 3 - Renaming the Library So It’s Easy to Remember:**

Once you are done, put the ‘import’ and ‘package’ together in a single variable. This handy feature helps cut down on all the typing later on. Feel free to use whatever name you want that will help you remember it later on. In the example below, we’ve put everything into **pd**.

**Step 4 - Run the Code:**

Hit ‘control’ and ‘enter’ at the same time to run the data science magic!

<details>
    <summary>Click to see the answer...</summary>
    
![](https://pbs.twimg.com/media/GZmkVCYWEA4oGso?format=jpg&name=small)

</details>


**Your Turn**: Now it’s your turn! We’re going to dive into the **pandas** package, which helps us with some really cool data science things. First, let’s import the package and assign it to the variable **“pd”** to make it easier to use throughout our notebook.

In [4]:
#freehand code

**Explanation**: *Congrats!  Your attempts finally made it!  Now you have successfully imported the "**pandas**" package as the variable "**pd**".*

### Goal 2: Bringing in the Dataframe

Let’s bring in the data that we want to look at.

#### Blockly

**Step 1 - Write out the variable name you want to use:**

Now that we’re all set with our new package to help us to do cool things, let’s bring the data into a variable and call it **dataframe**. Think of it as a digital spreadsheet with much more power to analyze and manipulate the data!

In Blockly, bring in the VARIABLES menu.

**Step 2 - Assign the Dataframe to the Variable You Created:**

Just like we did before, let’s type out a variable name. Rather than type out the full file name for our data, this easy to remember name will hold the data we bring in.

In Blockly, go to the Variables and drag the Set block for the **dataframe** variable. This will allow us to assign the result of a function call to the variable. A function is basically code that does a specific task for us.

**Step 3 - Bring in the data:**

Now we need to look at the file that has all our data. To load our dataframe, we’ll use a simple command to bring in the file we need (CSV….Comma Separated Values). Let’s say we have a file called ‘VehicleEmissions.csv' in the folder **‘datasets’**. We’re telling Python to read the CSV file and store it in a variable called **dataframe**.

From the Variable menu, drag a DO block using the **pd** variable, go ahead with the **do** operation **read_csv**. The read_csv function reads a CSV file and returns a DataFrame object.

In our case, let’s bring in the “datasets/VehicleEmissions.csv" (use the Quotes from the TEXT menu) because that is what Angelina is working with.


**Step 4 - Display the variable**

Let’s see it now by ‘displaying’ and showing our work.

Drag the **dataframe** variable to the workspace, making it available for further use in our program. This step is more of a visualization step, as it allows us to see the variable in the Blockly workspace.

**Step 5 - Connect the blocks to run the code**

Connect the blocks and run the code!

<details>
    <summary>Click to see the answer...</summary>
    
![](https://pbs.twimg.com/media/GZjdlWqXYA8lxYO?format=png&name=900x900)
    
</details>

In [5]:
#blocks code

#### Freehand

**Step 1 - Write out the variable name you want to use:**

Now that we’re all set with our new package to help us to do cool things, let’s bring the data into a variable called **dataframe**. Think of it as a digital spreadsheet with much more power to analyze and manipulate the data!

**Step 2 - Assign the Dataframe to the Variable You Created:**

Just like we did before, let’s type out a variable name. Rather than type out the full file name for our data, this easy to remember name will hold the data we bring in.

**Step 3 - Bring in the data:**

Now we need to look at the file that has all our data.

To load our **dataframe**, we’ll use a simple command to bring in the file we need (CSV….Comma Separated Values). Let’s say we have a file called ‘VehicleEmissions.csv' in the folder **‘datasets’**. We’re telling Python to read the CSV file and store it in a variable called dataframe. For this function, we need to specify the code as “**pd.read_csv**”, which makes the code read the csv file. This variable is now our dataframe!

In our case, let’s bring in the “datasets/VehicleEmissions.csv" (user the Quotes from the TEXT menu) because that is what Kiana is working with.

**Step 4 - Print the variable**

Let’s see it now by ‘printing’ and showing our work. Retype the variable name underneath the code, and it will print the code. In this case, we will type out the variable name **dataframe**.


**Step 5 - Run the code**

Hit ‘control’ and ‘enter’ at the same time to run the code!

<details>
    <summary>Click to see the answer...</summary>

![](https://pbs.twimg.com/media/GZjdif6W0AYKevK?format=png&name=small)

</details>

**Your Turn**: Now it’s your turn!  Let’s dive in and start working with the data!  We’ll begin by loading it into a dataframe, which will allow us to easily interact with and analyze the dataset.

In [6]:
#freehand code

,TrafficVolume,AverageSpeed,CO2Emissions,NoiseLevel,TrafficCondition,Road Type
0,2222.222222,75,33.898305,33.75,Free Flow,Rural
1,1666.666667,50,33.898305,33.75,Free Flow,Rural
2,1111.111111,60,25.423729,33.75,Free Flow,Rural
3,833.333333,55,42.372881,33.75,Free Flow,Rural
4,1944.444444,80,33.898305,33.75,Free Flow,Rural
...,...,...,...,...,...,...
145,6666.666667,50,355.932203,112.50,Heavy,City
146,5555.555556,25,338.983051,97.50,Heavy,City
147,6111.111111,50,355.932203,101.25,Heavy,City
148,5277.777778,70,372.881356,112.50,Heavy,City
149,4444.444444,50,347.457627,93.75,Heavy,City













**Explanation**: *Easy-peasy! You have now brought in the dataframe and stored it as a variable that you can reference later on. Now onto the fun part! The dataset contains information about vehicle emissions and various related attributes. Each row represents a different vehicle and provides details such as emissions levels, engine size, fuel consumption, power output, vehicle mass, torque, production year, region, and vehicle type. This dataset is valuable for understanding environmental impacts and can be helpful in studies in science and geography classes.*

### Goal 3: Checking the data for missing (null) values

Sometimes, you want to spot-check your data before doing more analysis.  One thing that can really mess up analysis is if we have some data that is blank or missing. Missing data can mess up our ability to draw accurate conclusions and mess up our results. So how might Angelina check on that?

#### Blockly

**Step 1 - Write out the name for a variable you want to use**

Just like we did before, let’s type out a variable name. Because we want to look at missing data, let’s simply call it **missing**.

On the Variable menu, click Create a variable, and type the name **missing** to the new variable. On the same menu, drag the Set block of this variable to the workspace. If we see anything is missing, it will say ‘True’. If it’s not missing, it will say ‘False’.

**Step 2 - Look for missing values**  

To check if your dataset has missing values (null), you can use Python’s pandas library to explore the data. Specifically, you can use the **isnull**() function. This method returns a new dataframe of the same shape as the original, but with True in the places where the values are missing and False where they are not.
From the Variables menu, drag a DO block for the dataframe object, then select the operation isnull. We are using the isnull function from the dataframe module to check for null values in the dataframe.

**Step 3 - Connect the blocks to run the code**

Connect the blocks and run the code!

<details>
    <summary>Click to see the answer...</summary>

![](https://pbs.twimg.com/media/GZYyCUyXUAA3WdJ?format=png&name=small)

</details>

In [7]:
#blocks code

#### Freehand

**Step 1 - Write out the name for a variable you want to use:**

Just like we did before, let’s type out a variable name. Because we want to look at missing data, let’s simply call it **missing**

**Step 2 - Look for missing values**

To check if your dataset has missing values, you can use Python’s pandas library to explore the data. Specifically, you can use the **isnull**() function. This method returns a new dataframe of the same shape as the original, but with True in the places where the values are missing and False where they are not.

**Step 3 - Run the code**

Hit ‘control’ and ‘enter’ at the same time to run the code!
<details>
    <summary>Click to see the answer...</summary>
    
![](https://pbs.twimg.com/media/GZYyEo4bEAA5Toh?format=png&name=360x360)

</details>

**Your Turn**: Now it’s your turn! See if you can type in the data that appears above to find if anything is missing that might trip up Angelina and her group. Use the code provided to check your dataset for missing values. Then, decide how you want to handle any missing data that you find.

In [8]:
#freehand code

**Explanation**: *You Got It! Now you’ve checked your dataset for missing values. This helps you to identify any gaps, to decide how you want to handle them to ensure your analysis remains accurate. Are there any other missing values you might have missed?*

*The results from the code show that most of the data in the vehicle emissions dataset is complete, with values present in all columns for most rows. However, the last few rows have missing vehicle_type information, indicated by True. This means that while the dataset is mostly complete, a few entries lack this specific detail, which might be necessary for certain analyses or conclusions about vehicle types and their emissions.*

### Goal 4: Counting missing values.

We’ve now found our missing values, but how many do we have? To understand how many values are missing in each column, let’s use the .**sum**() method to count of missing values per column.

#### Blockly

**Step 1 - Sum the total of the missing cells:**

To count the missing values in each column of the dataframe, we can use the **sum**() function to add up all the missing cells.

From the Variables menu, drag the DO block for the missing variable. With that block, select the sum operation. This function returns the total count of the values in the missing variable, which represents the number of missing values in the dataframe.

**Step 2 -  Analyze the results:**

The result can now be used for further analysis, such as identifying the extent of missing values, performing data imputation, or reporting the quality of the data.

**Step 3 - Connect the blocks to run the code**

Connect the blocks and run the code!

<details>
    <summary>Click to see the answer...</summary>
    
![](https://pbs.twimg.com/media/GZY03PtWkAEjc0z?format=png&name=360x360)

</details>

In [9]:
#blocks code

#### Freehand

**Step 1 - Sum the total of the missing cells:**

Count the missing values in each column of the dataframe, we can use the **sum**() function to add up all the missing cells in the **missing** variable.


**Step 2 - Analyze the results:**

The result can now be used for further analysis, such as identifying the extent of missing values, performing data imputation, or reporting the quality of the data.

**Step 3 - Run the code**

Hit ‘control’ and ‘enter’ at the same time to run the code!
<details>
    <summary>Click to see the answer...</summary>
    
![](https://pbs.twimg.com/media/GZY00MKXEAAtLRn?format=png&name=360x360)

</details>

**Your Turn**: Let’s give it a go and see what we can do.

In [10]:
#freehand code

TrafficVolume       0
AverageSpeed        0
CO2Emissions        0
NoiseLevel          0
TrafficCondition    0
Road Type           0
dtype: int64

**Explanation**: *Well done! You’ve used the missing values  code to count the missing values in each column of your dataset. This helps you identify any columns with missing data that need to be addressed. Let’s find out what’s next.*

*The code output reveals that the dataset is mostly complete, with no missing values in most columns. However, there are some missing values in the power_output column (6 missing) and a significant number in the vehicle_type column (385 missing).*

### Goal 5: Checking the data for duplicate values.

One final doublecheck would be to focus on duplicate values. These values can appear when data is entered or collected multiple times by mistake. But why does this matter? If we accidentally count something too much, it could cause us to make the wrong decision. So, how can we identify and remove those duplicates for our practical analysis?

#### Blockly

**Step 1 - Write out the name for a variable you want to use**

Just like we did before, let’s type out a variable name. Because we want to look at missing data, let’s simply call it **duplicates** so it’s easy for us to remember

On the Variable menu, click on Create variable, and type **duplicates** as the name of the variable. From the same menu, drag the Set block for this variable. This variable will hold a boolean value indicating whether each cell in the dataframe is a duplicate or not.

**Step 2 - Check for duplicated rows**

From the Variables menu, drag the DO block for the **dataframe** variable. With that, select the **duplicated**() function. This function returns a value indicating whether each row in the dataframe is a duplicate or not. If it has duplicate rows, it will say ‘True’.

**Step 3 - Calculate the total of duplicates:**

In the last step we asked to say ‘True’ everytime there was a duplicate. Now let’s just count them all up.

From the Variables menu, drag the **duplicates** variable. From the Math menu, get a Sum of the list. Lastly, from the Text menu choose a Print block. Connect the sum block with duplicates and that with the print.

**Step 4. Print the variable**

The print function will show the result of the sum function on the screen, which will tell us the total count of duplicated rows in the dataframe.

**Step 5 - Connect the blocks to run the code**

Connect the blocks and run the code!

<details>
    <summary>Click to see the answer...</summary>
    
![](https://pbs.twimg.com/media/GZZGpocXUAAg7Yo?format=png&name=small)

</details>

In [11]:
#blocks code

#### Freehand

**Step 1 - Write out the name for a variable you want to use:**

Just like we did before, let’s type out a variable name. Because we want to look at missing data, let’s simply call it **duplicates** so it’s easy for us to remember

**Step 2 - Check for duplicated rows:**

Similar to the ways to find extra values, you can use the **duplicated**() function from Python’s pandas library. This function will return True for any duplicate rows in your dataframe. This code will tell you how many duplicate rows exist in your dataset.

**Step 3 - Calculate the total of duplicates:**

In the last step we asked to say ‘True’ everytime there was a duplicate. Now let’s just count them all up.

**Step 4 - Print the variable**

The print function will show the result of the sum function on the screen, which will tell us the total count of duplicated rows in the dataframe.

**Step 5 - Run the code**

Hit ‘control’ and ‘enter’ at the same time to run the code!

<details>
    <summary>Click to see the answer...</summary>

![](https://pbs.twimg.com/media/GZZGse6XsAAs3g-?format=png&name=360x360)

</details>

**Your Turn**: So let’s dive in and see if we can find the ‘extras’ that maybe shouldn’t be there.

In [12]:
#freehand code

2

**Explanation**: *Nice work! You’ve used the “duplicates” code to check your dataset for any duplicate rows. Identifying and removing these duplicates will help ensure your analysis is accurate and reliable. Did your dataset have any duplicate rows?*

*The output shows there are two duplicate rows in the dataset. This means some data entries are repeated, which can affect the accuracy of any analysis. Identifying and possibly removing these duplicates is important to ensure the results reflect the true information about vehicle emissions.*

### Goal 6: Cleaning duplicate values.

Now that you’ve done a deep dive, what happens if you want to get rid of them? If the result is anything other than zero, you might need to handle these duplicates.

#### Blockly

**Step 1 - Write out the name for a variable you want to use:**

Just like we did before, let’s type out a variable name. Because we want to look at missing data, let’s simply call it **data_cleaned**
On the Variable menu, click Create variable, then type **data_cleaned** for the variable's name. On this same menu, drag a Set block for this block. This variable will hold the dataframe after removing duplicates.


**Step 2 - Remove duplicates from the dataframe:**

From the Variables menu, drag a DO block for the **dataframe** variable. With that variable, select the operation **drop_duplicates**(). This function returns a new dataframe with duplicates removed.
Step 3 - Print the variable:
Let’s print it the variable we just created to see what we get.

**Step 3 - Display the variable**

Let’s display the variable we just created to see what we get.

From the Variables menu, drag the **data_cleaned** variable to a new workspace to print the cleaned dataframe for further analysis or visualization.



**Step 4 - Connect the blocks to run the code**

Connect the blocks and run the code!

<details>
    <summary>Click to see the answer...</summary>

![](https://pbs.twimg.com/media/GZZIktUXoAANSjY?format=png&name=small)


</details>

In [13]:
#blocks code

#### Freehand

**Step 1 - Write out the name for a variable you want to use:**

Just like we did before, let’s type out a variable name.  Because we want to look at missing data, let’s simply call it **data_cleaned**

**Step 2 - Remove duplicates from the dataframe:**

If duplicate values are found, you can remove them using the **drop_duplicates**() function. This will remove all duplicate rows, leaving only unique rows in the dataset.

`data_cleaned = dataframe.drop_duplicates()`


**Step 3 - Print the variable:**

Let’s print it the variable we just created to see what we get.

**Step 4 - Run the code**

Hit ‘control’ and ‘enter’ at the same time to run the code!

<details>
    <summary>Click to see the answer...</summary>

![](https://pbs.twimg.com/media/GZZIinHWQAADvc3?format=png&name=small)

</details>

**Your Turn**: Now that we’ve found the duplicates and extras, let’s type the code and get rid of them.

In [14]:
#freehand code

,TrafficVolume,AverageSpeed,CO2Emissions,NoiseLevel,TrafficCondition,Road Type
0,2222.222222,75,33.898305,33.75,Free Flow,Rural
1,1666.666667,50,33.898305,33.75,Free Flow,Rural
2,1111.111111,60,25.423729,33.75,Free Flow,Rural
3,833.333333,55,42.372881,33.75,Free Flow,Rural
4,1944.444444,80,33.898305,33.75,Free Flow,Rural
...,...,...,...,...,...,...
145,6666.666667,50,355.932203,112.50,Heavy,City
146,5555.555556,25,338.983051,97.50,Heavy,City
147,6111.111111,50,355.932203,101.25,Heavy,City
148,5277.777778,70,372.881356,112.50,Heavy,City
149,4444.444444,50,347.457627,93.75,Heavy,City

**Explanation**: *Awesome! You have identified and removed the duplicates using the “data_cleaned” code to clean your dataset. This will help ensure your analysis is based on accurate and unique data*.

### Goal 7: Checking the data to see if it’s clean.

Before we tried to see how many duplicates. Let’s double-check to make sure we don’t have any duplicates left over.

#### Blockly

**Step 1 - Check the total of duplicates:**

After removing duplicates, it’s always a good idea to verify that no duplicates remain in the dataset!  Verifying that duplicates were removed

From the Variables menu, get a DO block for the **data_cleaned** variable. With that variable, select the **duplicated** operation.

**Step 2 - Count for All Duplicate Rows with ‘Sum’:**

So now that we’ve double-checked, let’s sum using the sum() function. If we don’t have any duplicate values, we should get a 0 back.

From the Math menu, get a Sum of list block, then connect this with the first block.


**Step 3 - Connect the blocks to run the code**

Connect the blocks and run the code!

<details>
    <summary>Click to see the answer...</summary>
    
![](https://pbs.twimg.com/media/GZZJ6tEW8AAw_fp?format=png&name=small)

</details>

In [15]:
#blocks code

#### Freehand

**Step 1 - Check the total of duplicates:**

After removing duplicates, it’s always a good idea to verify that no duplicates remain in the dataset!  Verifying that duplicates were removed
`data_cleaned.duplicated() `

**Step 2 - Count for All Duplicate Rows with ‘Sum’:**

So now that we’ve double-checked, let’s sum using the sum() function. If we don’t have
any duplicate values, we should get a 0 back.

`sum(data_cleaned.duplicated()) `

**Step 3 - Run the code**

Hit ‘control’ and ‘enter’ at the same time to run the code!

<details>
    <summary>Click to see the answer...</summary>

![](https://pbs.twimg.com/media/GZZJ4IZXYAAG-U9?format=png&name=360x360)

</details>

**Your Turn**: Now it’s your turn! Use the code above to identify any duplicate rows in your dataset. If duplicates exist, remove them and verify that your dataset is clean and ready for analysis.

In [16]:
#freehand code

0

**Explanation**: *Just like before, you’ve looked at all the columns and rows looking for any extras in the dataset. As duplicates are removed, you now have a cleaner, more reliable dataset for your analysis. You can now move forward with your analysis, knowing your data is free of duplication.*

*The result being 0 indicates that there are no duplicate rows in the data_cleaned dataset. This means all duplicate entries have been successfully removed, ensuring that each row of data is unique and ready for accurate analysis.*

## WHAT DID YOU LEARN?

In this lesson, we focused on understanding the basics of variables and their impact on data analysis, which can help solve Angelina’s problem.  We explored different types of variables [nominal](## "A nominal variable is kind of like the ‘name’ of categories. Nominal variables aren’t ordered like numbers are."), [ordinal](## "One way to think of ordinal variables is the ‘order’ of something you are measuring. You can think of it as nominal data but with an ordering from first to last or smallest to largest. Because of that, the order matters."), [interval](## "Intervals can be a bit wonky. These variables follow an order, but the distance between 1, 2, and so on are all the same. To add another fun twist, 0 does not necessarily mean ‘nothing’."), and [ratio](## "Ratio variables are like interval variables, but the 0 means ‘nothing’. Age and height are good examples because 0 age means you have no age. Also, 0 height means you have no height."), each with unique characteristics that influence how we interpret the data we collect.  Remember Angelina’s after school project, we saw how these concepts apply in practical situations, such as analyzing vehicle emissions and advocating for eco-friendly transportation solutions.

To make sure she was on the right track, we imported a library in Python using pandas, we handled any null values using the isnull() function and the .sum() method, and lastly, we detected and handled any remaining outliers using the describe(), boxplot() and others.  Let’s continue learning!

## WHAT’S NEXT?

[Plotting](Plotting.ipynb)

## TELL ME MORE:


- [Datawhys Data Science and the Nature od Data - Notebook](https://github.com/memphis-iis/datawhys-content-notebooks-python/blob/master/Data-science-and-the-nature-of-data.ipynb)
- [Datawhys Data Science and the Nature od Data - Problem Solving Notebook](https://github.com/memphis-iis/datawhys-content-notebooks-python/blob/master/Data-science-and-the-nature-of-data-PS.ipynb)
- **Art**: Data storytelling is an art! Visualize real-world issues like population growth or pollution using charts and graphs from real data on Kaggle.
  - ***Link***: [Kaggle Datasets](https://www.kaggle.com/)
- **Math**: If you are interested in diving deeper into the Math concepts that underlie Data Science, Math is Fun offers additional activities that cover handling data, covering topics such as types of data, methods for displaying data (like graphs and charts), conducting surveys, and understanding probability and statistics.
  - ***Resource***: [Math is Fun - Data](https://www.mathsisfun.com/data/index.html)
- **Computer Science**: You can dive deeper into data manipulation and visualization using programming languages like Python.
  - ***Link***:  [Code.org Data Science](https://studio.code.org/s/explore-data-1-2021)
- **Career Connections**: Interested in a career as a data scientist? Explore how skills learned through analyzing and categorizing data could lead to opportunities in data science and beyond.
  - ***Link***: [Simplilearn: Data Science in 5 Minutes](https://youtu.be/X3paOmcrTjQ?si=u5IrG1na-JlZI33q)